#crumbs {
    text-align: center;
    font-family: 'Montserrat';
  }
  
  #crumbs h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  #crumbs ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  
  #crumbs ul li {
    display: flex;
    align-items: center;
  }
  
  #crumbs ul li:not(:last-child)::after {
    content: '>';
    margin: 0 5px;
    color: #aaa;
  }
  
  #crumbs ul li a,
  #crumbs ul li span {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  #crumbs ul li a:hover {
    background-color: #357DFD;
    color: #fff;
  }
  
  #crumbs ul li a img,
  #crumbs ul li span img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
  
  #crumbs ul li:last-child a,
  #crumbs ul li:last-child span {
    font-weight: bold;
    color: #666;
  }
  
  #crumbs ul li:last-child a:hover,
  #crumbs ul li:last-child span:hover {
    background-color: transparent;
    color: #666;
  }
  