section{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-family: 'Montserrat';
  }
  h1{
    font-family: 'Montserrat';
  }
  .card-favorite{
    display: block;
    border: 1px solid #acacac;
    padding: 18px;
    border-radius: 8px;


  }
  .card-favorite:hover{
    background-color: #acacac;
  }