.input-default {
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
  }
  
  .input-focus {
    border: 2px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(45deg, #14B2F5, #5276D3);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  